RELEASE
*.swp
*/**/.DS_Store
*/**/.redcar/
*/**/~
*~
.sass-cache/*
.bundle
.bundle/config
.DS_Store
log
log/**/*
public/javascripts/*.js
public/stylesheets/*.css
public/system
public/uploads
tmp/
tmp/**/*
vendor/bundle
coverage/
public/assets
*.csv
.ruby-gemset
